# Silent Butler — Environment Variables

# PostgreSQL
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/silentbutler
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# JWT
JWT_SECRET=my_super_secret_token_platon_123_413_555_000
JWT_EXPIRATION=3600000
